@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
.velocity {
  width: 100%;
  text-align: center;
}
